<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1 align="center">Reset Password</h1>
    <table align="center" border="2">
        <form method="POST">
            {% csrf_token %}

            <tr>
                <th>New Password</th>
                <td><input type="password" name="new_password"></td>
            </tr>
            <tr>
                <th>Confirm Password</th>
                <td><input type="password" name="confirm_password"></td>
            </tr>

            <tr>
                <th align="center" colspan="2"><input type="submit" value="Submit"></th>
            </tr>
        </form>

    </table>

    <h3 align="center">{{ error }}</h3>
</body>
</html>